<!DOCTYPE html>
<html lang="en" ng-app="jpapitfalls">
<head>
    <title>JPA Pitfalls</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <link rel="stylesheet" href="css/foundation-icons.css"/>
    <link rel="stylesheet" href="css/foundation.min.css"/>

    <script src="js/libs/angular.js"></script>
    <script src="js/libs/angular-resource.js"></script>

    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
    <script src="js/app.js"></script>


</head>
<body>

<div class="row" ng-controller="ExperimentsCtrl">
    <div class="small-1 columns"></div>
    <div class="small-4 columns">
        <table class="hover">
            <thead>
            <tr>
                <td>Experiments</td>
            </tr>
            </thead>
            <tbody>

            <tr ng-repeat="experiment in experiments" ng-click="selectExperiment(experiment)">
                <td>{{experiment.id}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="small-6 columns">
        <div>
            <a class="button" ng-click="runSelectedExperiment()"> Run <span class="info badge"><i class="fi-play"></i></span></a>
            {{selectedExperiment.name}}
        </div>
        <div class="callout">
            <section>
                <strong>Description</strong>
            </section>
            <section>
                {{selectedExperiment.description}}
            </section>
        </div>
        <div class="callout">
            <section>
                <strong>Result of the experiment</strong>
            </section>
            <section>
                {{result}}
            </section>
        </div>
    </div>

    <div class="small-1 columns"></div>
</div>
</body>
</html>
